@media(max-width:768px){ 
    .logoadr{width: 100%; height: auto; border-radius: 10px;}


 .imginicio{object-fit: cover}

        .imgsati{ height: 300px;}

        .imgrestau{height: 300px;}

        
    .nav-item{font-size: 20px;}


    //GRID Y FLEX EN CONTACTO

    .gridcontacto{display: grid;
        grid-template-columns: 100%;
       grid-template-rows: auto auto auto auto;}

       .rrss,.contacto {display: flex; padding: 20px;
        flex-direction: column; 
        align-items: center;
        justify-content: space-between;}

        .li{list-style-type: none ; padding: 3px; margin: 3px; display: flex; 
            justify-content: center;}
    
     a{text-decoration: none;color: black; 
        font-size: 10px;}
    
    .li:hover{
        color: rgb(3, 3, 85);
        font-size: 20px;
        background-color: rgb(187, 186, 186);
        border-radius: 20px;}
    
         a{color: black;font-size: 10px; }

         .logoadrfooter{display: block; 
            margin-left: auto;
             margin-right: auto;
             width: 60%;padding: 2%;}

.igcontacto{width: 30%;display: block; 
            margin-left: auto;
            margin-right: auto; }

   .bgprincipal{display: flex; justify-content: center;}

   .logoadrcontacto{width: 25%;height: 100px; margin: 10px;}
}